@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;500&family=Nunito:wght@200;300;400;500;600;700;800;900&family=Roboto:wght@300;400;700&family=Rubik&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  font-family: 'Roboto', sans-serif;
  font-weight: 200;
}

li {
  text-transform: capitalize;
}

select {
  padding: 8px;
  padding: 8px;
  background-color: transparent;
  box-shadow: none;
  border: 1px solid;
  border-top-color: currentcolor;
  border-right-color: currentcolor;
  border-bottom-color: currentcolor;
  border-left-color: currentcolor;
  border-top-color: currentcolor;
  border-right-color: currentcolor;
  border-bottom-color: currentcolor;
  border-left-color: currentcolor;
  margin: 0 5px;
  border-radius: 5px;
  border-color: #ac557b;
  color: #fff;
  -webkit-appearance: none;
  -moz-appearance: none;
}

option {
  background-color: RGB(83, 32, 101);
  color: #fff;
}

.gradient-background {
  background: #6e2781;
  background: -webkit-radial-gradient(top right, #6e2781, #080d1a);
  background: -moz-radial-gradient(top right, #6e2781, #080d1a);
  background: radial-gradient(to bottom left, #6e2781, #080d1a);
}

.main-background {
  color: #fff;
  padding: 20px;
  height: 100vh;
  overflow: hidden;
  max-width: 1100px;
  margin: 0 auto;
  overflow-x: hidden;
}

h2 {
  width: 100%;
  text-align: center;
  margin-bottom: 10px;
  font-weight: 300;
}
h3 {
  font-weight: 300;
}

.toast-types {
  border: 1px solid #fff;
  border-radius: 10px;
  box-shadow: 2px 3px 5px rgba(255, 255, 255, 0.3);
  padding: 10px;
  margin-bottom: 10px;
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}

.toast-types-header {
  width: 100%;
  text-align: center;
  font-size: 1.3rem;
  font-weight: 300;
  margin-bottom: 10px;
}

.toast-types-list {
  text-align: left;
  margin: 0 auto;
  width: 50%;
}

.toast-types ul {
  list-style-type: none;
  margin-left: 10px;
  line-height: 20px;
}

.toast-types ul li {
  text-decoration: none;
}

.toast-types ul li label {
  text-transform: capitalize;
}

.toast-types ul li input {
  margin-left: 10px;
  margin-right: 10px;
}

.demo-message {
  max-width: 400px;
  margin: 0 auto;
  border: 1px solid #fff;
  border-radius: 10px;
  box-shadow: 2px 3px 5px rgba(255, 255, 255, 0.3);
  margin-bottom: 10px;
  margin-top: 10px;
  padding: 10px;
  text-align: center;
}

.demo-message input {
  padding: 5px;
  border-radius: 8px;
  border: 0;
}

.demo-auto-close {
  max-width: 400px;
  margin: 0 auto;
  border: 1px solid #fff;
  border-radius: 10px;
  box-shadow: 2px 3px 5px rgba(255, 255, 255, 0.3);
  margin-bottom: 10px;
  margin-top: 10px;
  padding: 10px;
  text-align: center;
}

.demo-animation-type {
  max-width: 400px;
  margin: 0 auto;
  border: 1px solid #fff;
  border-radius: 10px;
  box-shadow: 2px 3px 5px rgba(255, 255, 255, 0.3);
  margin-bottom: 10px;
  margin-top: 10px;
  padding: 10px;
  text-align: center;
}

.demo-show-last {
  max-width: 400px;
  margin: 0 auto;
  border: 1px solid #fff;
  border-radius: 10px;
  box-shadow: 2px 3px 5px rgba(255, 255, 255, 0.3);
  margin-bottom: 10px;
  margin-top: 10px;
  padding: 10px;
  text-align: center;
}

.demo-show-icons {
  max-width: 400px;
  margin: 0 auto;
  border: 1px solid #fff;
  border-radius: 10px;
  box-shadow: 2px 3px 5px rgba(255, 255, 255, 0.3);
  margin-bottom: 10px;
  margin-top: 10px;
  padding: 10px;
  text-align: center;
}

.demo-position {
  max-width: 400px;
  margin: 0 auto;
  border: 1px solid #fff;
  border-radius: 10px;
  box-shadow: 2px 3px 5px rgba(255, 255, 255, 0.3);
  margin-bottom: 10px;
  margin-top: 10px;
  padding: 10px;
  text-align: center;
}

.demo-buttons {
  max-width: 400px;
  margin: 0 auto;
  border: 1px solid #fff;
  border-radius: 10px;
  box-shadow: 2px 3px 5px rgba(255, 255, 255, 0.3);
  margin-bottom: 10px;
  margin-top: 10px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.demo-button-show {
  padding: 8px 15px;
  background: #e3c70d;
  border-radius: 15px;
  border: 0;
  color: #fff;
  background-color: rgba(229, 42, 235, 0.8);
  transition: all 0.3s ease;
}

.demo-awesome-button:hover {
  background-color: rgba(189, 56, 194, 0.8);
}

.demo-awesome-button:active {
  transform: scale(0.95);
}

.demo-awesome-button {
  padding: 8px 15px;
  background: #e3c70d;
  border-radius: 15px;
  border: 0;
  color: #fff;
  background-color: rgba(229, 42, 235, 0.8);
  transition: all 0.3s ease;
}

.demo-button-show:hover {
  background-color: rgba(189, 56, 194, 0.8);
}

.demo-button-show:active {
  transform: scale(0.95);
}

.code {
  font-family: 'Source Code Pro', Menlo, Monaco, Courier, monospace;
  font-size: 12px;
  line-height: 1.4;
  font-style: normal;
  border-left: 3px solid #a9547e;
  padding: 10px 20px;
  background: #222;
}

.code__component {
  color: #66d9ef;
}

.code__props {
  color: #a6e22e;
}

.code__value {
  color: #a6e22e;
}

.code__parameter {
  color: #de943a;
}

.code__method {
  color: #decf2a;
}

.code div {
  margin-left: 20px;
}

.code div:first-child,
.code div:last-child {
  margin: 0;
}

.demo-code {
  display: flex;
  max-width: 800px;
  margin: 0 auto;
  margin-bottom: 30px;
  justify-content: space-between;
}

.specifics {
  display: flex;
  justify-content: space-evenly;
  max-width: 1100px;
  margin: 0 auto;
}

.toast-specific,
.container-specific {
  width: 40%;
}

.toast-code,
.container-code {
  min-width: 300px;
}

input[type='checkbox'] {
  margin-left: 10px;
}
