@keyframes #{$rt-namespace}__slide-inFromRight {
  95% {
    transform: translateX(-20%);
  }
  100% {
    transform: translateX(0%);
  }
}

@-webkit-keyframes #{$rt-namespace}__slide-inFromRight {
  95% {
    transform: translateX(-20%);
  }
  100% {
    transform: translateX(0%);
  }
}

@keyframes #{$rt-namespace}__slide-outToRight {
  0% {
    transform: translateX(0%);
  }
  10% {
    transform: translateX(-25%);
  }
  100% {
    transform: translateX(1000%);
  }
}

@-webkit-keyframes #{$rt-namespace}__slide-outToRight {
  0% {
    transform: translateX(0%);
  }
  10% {
    transform: translateX(-25%);
  }
  100% {
    transform: translateX(1000%);
  }
}

@keyframes #{$rt-namespace}__slide-inFromLeft {
  95% {
    transform: translateX(5%);
  }
  100% {
    transform: translateX(0%);
  }
}

@-webkit-keyframes #{$rt-namespace}__slide-inFromLeft {
  95% {
    transform: translateX(5%);
  }
  100% {
    transform: translateX(0%);
  }
}

@keyframes #{$rt-namespace}__slide-outToLeft {
  0% {
    transform: translateX(0%);
  }
  10% {
    transform: translateX(10%);
  }
  100% {
    transform: translateX(-110%);
  }
}

@-webkit-keyframes #{$rt-namespace}__slide-outToLeft {
  0% {
    transform: translateX(0%);
  }
  10% {
    transform: translateX(10%);
  }
  100% {
    transform: translateX(-110%);
  }
}

@keyframes #{$rt-namespace}__slide-inFromTop {
  100% {
    transform: translateY(0%) translateX(-50%);
  }
}

@-webkit-keyframes #{$rt-namespace}__slide-inFromTop {
  100% {
    transform: translateY(0%) translateX(-50%);
  }
}

@keyframes #{$rt-namespace}__slide-outToTop {
  0% {
    transform: translateY(0%) translateX(-50%);
  }
  10% {
    transform: translateY(10%) translateX(-50%);
  }
  100% {
    transform: translateY(-110%) translateX(-50%);
  }
}

@-webkit-keyframes #{$rt-namespace}__slide-outToTop {
  0% {
    transform: translateY(0%) translateX(-50%);
  }
  10% {
    transform: translateY(10%) translateX(-50%);
  }
  100% {
    transform: translateY(-110%) translateX(-50%);
  }
}

@keyframes #{$rt-namespace}__slide-inFromBottom {
  0% {
    transform: translateY(110%) translateX(-50%);
  }
  95% {
    transform: translateY(-10%) translateX(-50%);
  }
  100% {
    transform: translateY(0%) translateX(-50%);
  }
}

@-webkit-keyframes #{$rt-namespace}__slide-inFromBottom {
  0% {
    transform: translateY(110%) translateX(-50%);
  }
  95% {
    transform: translateY(-10%) translateX(-50%);
  }
  100% {
    transform: translateY(0%) translateX(-50%);
  }
}

@keyframes #{$rt-namespace}__slide-outToBottom {
  0% {
    transform: translateY(0%) translateX(-50%);
  }
  10% {
    transform: translateY(-10%) translateX(-50%);
  }
  100% {
    transform: translateY(110%) translateX(-50%);
  }
}

@-webkit-keyframes #{$rt-namespace}__slide-outToBottom {
  0% {
    transform: translateY(0%) translateX(-50%);
  }
  10% {
    transform: translateY(-10%) translateX(-50%);
  }
  100% {
    transform: translateY(110%) translateX(-50%);
  }
}
